body {
    font-family: 'Raleway', sans-serif;
    color: #213053;
    margin: 0;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: sticky; /*шапка прилиплп к верху страницы*/
    background-color: #fff;
    top:0;
    z-index: 1;/*выше остальных элементов*/
}
.header__logo {
    height: 30px;
}
a {
    text-decoration: none;
    color: #213053;
}
header a {
    font-size: 15px;
    font-weight: 600;
    margin-right: 25px;
}
button {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #fff;
    background-color: #23a030;
    border: none;
    border-radius: 15px;
    cursor: pointer; /*при наведении на кнопку мышка была в виде указателя*/
    box-shadow: 0 16px 36px rgb(52 213 68 / 22%);/*рисует тень 0- отступ тени по горизонтали,16-по вертикали, 36-размытость,rgb-цвет тени*/
    padding: 15px;
}
.about__image {
    width: 500px;
}
.about__sun-image {
    width: 100px;
}
.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 115px;
    padding-top: 115px;
    background: url('img/back.png') no-repeat; /*фон будет картинкой, не повторять,чтобы картинка показывалась лишь один раз,без повторений*/
    background-position: center; /*чтобы картинка разместилась ровно посередине блока*/
    background-size: cover;/*чтобы картинка фона растягивалась под размер секции,полностью покрывая её*/
    position: relative;
}
.about h1 {
    font-size: 70px;
    line-height: 76px;
}
.about p {
    font-size: 18px;
    line-height: 30px;
    opacity: 0.8;
}
.about button {
    font-size: 18px;
    border-radius: 20px;
    padding: 20px 25px;
    margin-top: 20px;
}
.about__info {
    max-width: 550px;
}
.form__container {
    width: 550px;
}
.form {
    background-color: #1D263A;
    color: #fff;
    padding-top: 115px;
    padding-bottom: 115px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.form h1 {
    font-size: 48px;
}
.form p {
    font-size: 18px;
    opacity: 0.65;
}
.form__group {
    display: flex;
    flex-direction: column; /*по умолч row-главная ось горизонталь, а элем распол. в строку, column-элем.размещ.вертикально и гл.ось станет вертик-й*/
    text-align: left;
}
.form form {
    display: grid;
    grid-gap:20px; /*промежуток между grid-элементами*/
    margin-top: 60px;
}
.form label {
    font-size:18px;
    font-weight: 600;
    margin-bottom: 20px;
}
.form input, .form select {
    font-size:18px;
    color:#213053;
    height: 60px;
    padding: 0 20px;
    border-radius: 15px;
    border: none;
}
.form__submit {
    font-size:18px;
    font-weight: 600;
    margin-top: 40px;
}
select {
    appearance: none; /*убрали стрелочку*/
    outline: none;
}
input {
    outline: none; /*после наведения границы не отображаются*/
}
button:hover {
    background-color: #f6980c;
    box-shadow:0 16px 36px rgba(246 152 12/20%);
    transition: background-color 0.3s ease-in;
}
footer {
    padding: 90px 20px;
    font-size: 16px;
    font-weight: 600;
}
.footer__copyright {
    margin-top: 40px;
    text-align: center;
    opacity: 0.5;
}
.footer__container {
    display: flex;
    justify-content: center;
}
.footer__group {
    margin-right: 80px;
}
.footer__group h3 {
    font-size: 16px;
    opacity: 0.7;
    margin-bottom: 30px;
}
.footer__links {
    display: flex;
    flex-direction: column;
}
.footer__links a {
    margin-bottom: 15px;
}
@keyframes rotation {
    0% {
        transform: rotate(0);
        }
    100% {
    transform: rotate(360deg);
        }
}
.about__sun-image {
    animation: rotation 10s infinite linear;
    position: absolute;
}
.features {
    background-color: white;
    padding: 90px 60px;
}
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:50px; 
}
.card {
    padding: 35px 40px 25px 40px;
    border: 1px solid #D9E4E6;
    border-radius: 5px;
}
.card__p {
    font-size: 16px;
    line-height: 22px;
    opacity: 0.8;
}
.card__logo {
    width: 100px;
    height: 100px;
    font-size: 32px;
    font-weight: 700;
    border-radius: 50%;
    background-color: #eaeff9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-solar-panel {
    color: #ffb406;
}
.card__logo_p {
    color: #ad1714;
}
.fa-chart-line {
    color: #22a030;
}
.features__border {
    margin: 50px 0 50px 0;
    border: 1px solid #E6EAF4;
}
.features__feedback {
    display: flex;
}
.features__feedback-right {
    display: flex;
    align-items: center;
    justify-content: center;
}
.features__feedback-left {
    margin-right: 10px;
}
.feedback-left_h {
    font-size: 48px;
}
.feedback-left_p {
    font-size: 18px;
    line-height: 26px;
    opacity: 0.7;
}
.features__box {
    padding: 30px 40px 25px 40px;
    color: #fff;
    border-radius: 25px;
}
.feedback-right_h {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 48px;
}
.features__savings-box {
    background-color: #dc5e26;
    box-shadow:0px 6px 0 rgba(221 95 38/20%);
    margin-right: 30px;
}
.features__rate-box {
    background-color: #1D263A;
    box-shadow:0px 6px 0 rgba(29 38 58/20%);
}
.fa-star {
    color: #ff7039;
}
.promo {
    display: flex;
}
.promo__image {
    background: url('img/promo.jpg') no-repeat; 
    background-position: center; 
    background-size: cover;
    flex-shrink: 0;
    width: 50%;
    
}
.promo__right {
    background-color: #dd5f26;

    padding: 160px 60px;
}
.promo_card {
    background-color: white;
    padding: 30px 40px;
    font-size: 20px;
    line-height: 22px;
    font-weight: 500;
    border-radius: 25px;
}
.promo_card_p {
    opacity: 0.8;
}
.fa-circle {
    color:  #ec6b29;
    border-radius: 10px;
    margin-right: 10px;
}
.promo_button {
    background: #107b1c;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
}
.fa-chevron-right {
    font-size: 15px;
    margin-left: 5px;
}
.promo__card_button {
    display: flex;
    justify-content: center;
}
.orb-canvas {
    position: absolute; /*для тега about добавили относит.позиционирование:relative,чтобы холст позиционировался относительно него*/
    height: 100%;
    top:0;
    right: 0;
}