@media (max-width:1024px)
{
    .about {
        padding: 115px 20px;
    }
    .about h1 {
        font-size: 36px;
        line-height: 40px;
    }
    .about_image {
        width:280px;
    }
    .about__sun-image {
        width: 75px;
        height: 75px;
    }
    .features {
      background-color: white;
      padding: 50px 10px;
    }
    .cards {
      grid-template-columns: auto;
    }
    .features__feedback {
        display: flex;
        flex-direction: column;
    }
    .features__feedback-right {
        display: flex;
        flex-direction: column;
    }
    .features__feedback-left {
        margin-right: 0;
    }
    .feedback-left_h {
        font-size: 36px;
    }
    .feedback-right_h {
        font-size: 36px;
    }
    .features__savings-box {
        margin-right: 0;
        margin-bottom: 30px;
    }
    .promo__right {
        padding: 50px 10px;
    }
    .promo {
        display: flex;
        flex-direction: column;
    }
    .promo__image {
        width: 100%;
        height: 500px;
    }
}

@media (max-width:720px) {
    header {
        padding: 10px;
    }
    .header__logo {
        height:20px;
    }
    header a {
        margin-right: 10px;
    }
    .about {
        flex-direction: column-reverse;
        padding: 50px 10px;
    }
    .about h1 {
        font-size: 36px;
        line-height: 40px;
    }
    .about__image {
        width: 280px;
    }
    .about__sun-image {
        width: 75px;
        height: 75px;
    }
    .form {
        padding: 50px 10px;
    }
    .form h1 {
        font-size: 36px;
    }
    footer {
        padding: 50px 10px;
    }
    .footer__container {
        flex-direction: column;
    }

}
